<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Category</title>
    <meta charset="utf-8">
    <meta name="author" content="pixelhint.com">
    <meta name="description"
          content="Magnetic is a stunning responsive HTML5/CSS3 photography/portfolio website  template"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}">
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
</head>
<body>
<header>
    <div class="logo">
        <a th:href="@{/}"><img th:src="@{/img/logo.png}" title="Magnetic" alt="Magnetic"/></a>
    </div>
    <nav>
        <ul>
            <li><a th:href="@{/post/add}">Add Post</a></li>
            <li><a th:href="@{/category/add}" class="selected">Add Category</a></li>
        </ul>
    </nav>

</header>

<section class="main clearfix">
    <div class="formdiv">
        <form action="/category/add" method="post">
            <input type="text" name="name" placeholder="Category Name">
            <input type="submit" value="Add Category">
        </form>

    </div>
</section>

</body>
</html>