<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Blog</title>
	<meta charset="utf-8">
	<meta name="author" content="pixelhint.com">
	<meta name="description" content="Magnetic is a stunning responsive HTML5/CSS3 photography/portfolio website  template"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/mainn.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}">
	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>


</head>
<body>

	<header>
		<div class="logo">
			<a th:href="@{/}"><img th:src="@{/img/logo.png}" title="Magnetic" alt="Magnetic"/></a>
		</div>

		<nav>
			<ul>
				<li><a th:href="@{/post/add}" >Add Post</a></li>
				<li><a th:href="@{/category/add}" class="selected">Add Category</a></li>

			</ul>
		</nav>
	</header>

	<section class="main clearfix">
		<section class="top">
			<div class="wrapper content_header clearfix">
				<h1 style="text-align: center" th:text="${singlePost.title}" class="title"></h1>

				<hr>
			</div>
		</section>


		<section class="wrapper">
			<div class="content">
				<div style="display:flex">
                    <h3  class="innerDate" th:text="${singlePost.date}"></h3>
					<img class="innerImg" th:src="@{/post/getImage(picUrl=${singlePost.picUrl})}" alt="">
					<p style="margin-left: 20px;width: 350px;" th:text="${singlePost.text}"></p>
				</div>
				<h3 style="display: inline-block">Category` </h3> <p style="display:inline-block; color: #cccccc"  th:each="categoryList : ${singlePost.getCategories()}" th:text="${categoryList.name} +','"></p>
				<br>
				<a th:href="@{/post/delete(id=${singlePost.id})}"><input class="formDivInput" type="button" name="delete" value="Delete Post" ></a>


			</div>
		</section>
	</section>
</body>
</html>